{# Not .njk because https://github.com/mozilla/nunjucks/pull/1225 #}
{% for row in table %}
  {% if loop.first %}
    <tr>
      {% for content in row %}
        <th onclick="handleSort(this)">
          {{ content }}
          {% if currentSortingColumn == loop.index-1 %}
            {% if isAscending %}
              ⬆
            {% else %}
              ⬇️
            {% endif %}
          {% else %}
            ⇵
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  {% else %}
    <tr>
      {% for content in row %}
        <td>{{ content }}</td>
      {% endfor %}
    </tr>
  {% endif %}
{% endfor %}
