{% extends 'src/templates/root.njk' %}

{% block head %}
  <title>PolyChampions</title>
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block body %}
  <section>
    <div class="section-wrapper">
      <i class="fas fa-trophy fa-fw fa-5x"></i>
      <div class="inner-section-wrapper">
        <h2>Join a team.</h2>
        <p>
          Compete for the championship together with your teammates in a high stakes fight to be the best.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="section-wrapper">
      <i class="fas fa-users fa-fw fa-5x"></i>
      <div class="inner-section-wrapper">
        <h2>An awesome community.</h2>
        <p>
         Be part of a friendly community and a competitive Polytopia league. When you join you will have access to the PolyElo bot that keeps track of the ranking of every player, among other things.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="section-wrapper">
      <i class="fas fa-graduation-cap fa-fw fa-5x"></i>
      <div class="inner-section-wrapper">
        <h2>Learn from the best.</h2>
        <p>
         Get personal coaching from some of the best players in the game and learn how to top the leaderboards.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="section-wrapper">
      <i class="fas fa-gamepad fa-fw fa-5x"></i>
      <div class="inner-section-wrapper">
        <h2>Thousands of competetive polytopia games.</h2>
        <p>
          Pokémon! Gotta catch 'em all!
          Pokémon! Oh you're my best friend
          Pokémon! Gotta catch 'em all!
          Pokémon! Gotta catch'em all!
        </p>
      </div>
    </div>
  </section>
{% endblock %}
