{% extends 'src/templates/root.njk' %}

{% block head %}
  <title>PolyChampions</title>
  <link rel="stylesheet" href="/css/index.css">
{% endblock %}

{% block body %}
  <section><p>main page content</p></section>
{% endblock %}
