<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/root.css">
  <script src="https://kit.fontawesome.com/84d9aa7337.js" crossorigin="anonymous"></script>
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}
</head>
<body>
  <nav>
    <a href="/">PolyChampions</a>
    <a href="/teams/bombers.html">Teams</a>
    <a href="/stats/statsdemo.html">Stats</a>
    <a href="/guides/guidedemo.html">Guides</a>
  </nav>

  <main>
    {% block body %}
      {{ body | safe }}
    {% endblock %}
  </main>

  <div onclick="topFunction()" id="arrowTop" hidden>
    <i class="fas fa-arrow-up"></i>
  </div>

  <footer>
    PolyChampions website footer. Created by Luna and Artemis. Stats brought to you with help from Legorooj, Nelluk, and the PolyChampions stats team. Graphics done by Newt.<br><br> <a href="https://discord.gg/6cvhe4D">Join now on Discord!</a>
  </footer>

  <script src="/js/uiElements.js"></script>
</body>
</html>
