{% extends 'src/templates/root.njk' %}

{% block head %}
  <title>Stats</title>
  <script src="/js/templates.js"></script>
  <script src="https://mozilla.github.io/nunjucks/files/nunjucks-slim.min.js"></script>
  <link rel="stylesheet" href="/css/statsTable.css"/>
{% endblock %}

{% block body %}
  {{ body | safe }}
  <table id="statsTable">
    <tr><td>Fetching data...</td></tr>
  </table>
  <script src="/js/statsTable.js"/>
{% endblock %}
