{% extends 'src/templates/root.njk' %}

{% block head %}
  <title>Stats</title>
  <script src="/js/templates.js"></script>
  <script src="https://mozilla.github.io/nunjucks/files/nunjucks-slim.min.js"></script>
{% endblock %}

{% block body %}
  {{ body | safe }}
  <section>
    <table id="statsTable">
      <tr><td>Fetching data...</td></tr>
    </table>
  </section>
  <script src="/js/statsTable.js"></script>
{% endblock %}
