{% extends 'src/templates/root.njk' %}

{% block head %}
  <title>Team {{ team.proName }}</title>
{% endblock %}

{% block body %}
  <section><h2>{{ team.proName }} and {{ team.minorName }}</h2></section>
  <section>
    <h3>About {{ team.ProName }}:</h3>
    <p>{{ team.about }}</p>
  </section>
  <section>
    <h3>Team History:</h3>
    <p>{{ team.history }}</p>
  </section>
  {% if team.trophies %}
    <section>
      <h3>Trophies:</h3>
      <p>
        {% set comma = joiner() %}
        {% for trophy in team.trophies %}
          {{ trophy }} {{ comma() }}
        {% endfor %}
      </p>
    </section>
  {% endif %}
{% endblock %}
