{% extends 'src/templates/root.njk' %}

{% block head %}
  <title>{{ team.proName }} - Polychampions</title>
  <meta name="og:title" content="{{ team.proName }} - PolyChampions"/>
  <meta name="description" content="{{ team.about }}"/>
  <meta name="og:image" content="{{ host }}/img/teams/{{ team.shortName }}.png"/>
  <meta name="og:description" content="{{ team.about }}"/>
  <link rel="stylesheet" href="/css/team.css">
{% endblock %}

{% block body %}
  <main class="main" style="--team-colour: {{ team.bgColor }};">
    <section class="page_intro">
      <h1 class="page_intro__header">{{ team.proName }}</h1>
      <h2 class="page_intro__subheader">and {{ team.minorName }}</h2>
      <h3 class="page_intro__slogan">{{ team.slogan }}</h3>
    </section>
    <img src="/img/teams/{{ team.shortName }}.png"
        class="page_image" alt="{{ team.proName }} logo"/>
    <section class="page_content">
      <h3 class="page_content__header">About {{ team.ProName }}</h3>
      <p class="page_content__p">{{ team.about|safe }}</p>
    </section>
    <section class="page_content">
      <h3 class="page_content__header">Team History</h3>
      <p class="page_content__p">{{ team.history|safe }}</p>
    </section>
    <section class="page_content">
      <h3 class="page_content__header">Trophies</h3>
      <p class="page_content__p">
        {% set comma = joiner() %}
        {% for trophy in team.trophies %}
          <div class="trophy">
            <i class="fas fa-trophy trophy__icon"></i>
            <span class="trophy__season">{{ trophy.season }}</span>
            <span class="trophy__league">{{ trophy.league }}</span>
          </div>
        {% else %}
          {{ team.proName }} have no trophies yet.
        {% endfor %}
      </p>
    </section>
  </main>
{% endblock %}
