{% extends 'src/templates/root.njk' %}

{% block head %}
  <title>Team {{ team.proName }}</title>
  <link rel="stylesheet" href="/css/teams.css">
{% endblock %}

{% block body %}
  <section style="background-color:{{ team.bgColor }};color:{{ team.fgColor }}">
    <h2>{{ team.proName }}</h2>
    <h3>and {{ team.minorName }}</h3>
  </section>
  <section>
    <h3>About {{ team.ProName }}:</h3>
    <p>{{ team.about }}</p>
  </section>
  <section>
    <h3>Team History:</h3>
    <p>{{ team.history }}</p>
  </section>
  {% if team.trophies %}
    <section>
      <h3>Trophies:</h3>
      <p>
        {% set comma = joiner() %}
        {% for trophy in team.trophies %}
          {{ trophy }} {{ comma() }}
        {% endfor %}
      </p>
    </section>
  {% endif %}
{% endblock %}
