<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Bombers</title>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
  <div id="navbarPlaceholder">
  </div>

  <div id="teamContentPlaceholder">
  </div>

  <div id="footerPlaceholder">
  </div>

  <script src="../scripts/page_generation/navbar.js"></script>
  <!-- <script type="module" src="../scripts/page_generation/team.js" team="bombers"></script> -->
  <script type="module">
    import { generateTeamPage } from './bundle.js';
    import {teamInfo} from './bundle.js';
    generateTeamPage(teamInfo);
  </script>
  <script src="./bundle.js"></script>
</body>
</html>