@import 'https://fonts.googleapis.com/css2?family=Heebo&display=swap';

$font: Heebo, sans-serif;
$main-width: 960px;

$body-bg: #fff;
$navbar-bg: #111;
$navbar-hover: #000;
$footer-bg: #111;

$body-text: #000;
$navbar-text: #fff;
$footer-text: #ddd;

$accent-1-bg: #b03045;
$accent-1-text: #fff;
$accent-2-bg: #4e459d;
$accent-2-text: #fff;

$blurple: #7289DA;
