@import 'https://fonts.googleapis.com/css2?family=Ubuntu&display=swap';

$font: Ubuntu, sans-serif;

$body-bg: #fff;
$navbar-bg: #333;
$navbar-hover: #222;
$footer-bg: #333;

$body-text: #000;
$navbar-text: #fff;
$footer-text: #ddd;

$accent-1-bg: #b03045;
$accent-1-text: #fff;
$accent-2-bg: #4e459d;
$accent-2-text: #fff;
$accent-3-bg: #fff;
$accent-3-text: #000;
