@import 'variables.scss';

section {
  padding: 1rem 0 0 0;
  > * {
    padding: 0 2rem 1rem 2rem;
  }
  &:after {
    content: "";
    height: 5rem;
    width: 100%;
    display: block;
  }
  &:nth-last-of-type(odd) {
    background: $accent-1;
    &:after {
      background-image: linear-gradient(to bottom right, transparent, transparent 50%, $accent-2 50%, $accent-2);
    }
  }
  &:nth-last-of-type(even) {
    background: $accent-2;
    &:after {
      background-image: linear-gradient(to bottom right, transparent, transparent 50%, $accent-1 50%, $accent-1);
    }
  }
  &:last-of-type {
    &:after {
      background-image: linear-gradient(to bottom right, transparent, transparent 50%, $accent-1 50%, $accent-1);
    }
  }
}
