@import 'variables.scss';


main {
  max-width: 100%;
  section {
    max-width: $main-width;
    margin: auto;
  }
  section:first-of-type {
    max-width: 100%;
    height: calc(4rem - 2px);
    padding-left: calc((100vw - #{$main-width} - 15px) / 2);
    height: calc(215px - 3em);
    h1, h2, h3, h4, h5, h6 {
      font-size: 3.5em;
      padding: 0;
      margin: 0;
    }
  }
  &:before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: 3em;
    right: 0;
    background-repeat: repeat;
    height: 205px;
    background-size: 250px 300px;
    background-image: radial-gradient(
      circle at 125px -65px,
      transparent 250px,
      #fff 252px
    );
    display: block;
  }
  &:after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    top: 3em;
    right: 0;
    background-repeat: repeat;
    height: 205px;
    background-size: 500px 300px;
    background-image: radial-gradient(
      circle at 374px 370px,
      #fff 250px,
      transparent 252px
    );
    display: block;
  }
}
