@import 'variables.scss';


main {
  max-width: 100%;
  section {
    max-width: $main-width;
    margin: auto;
    &:first-of-type {
      max-width: 100%;
      text-align: center;
      padding: 1rem 0 0 0;
      &::after {
        background: linear-gradient(to bottom right, transparent calc(50% - 1px), white calc(50%));
        content: "";
        display: block;
        height: 3em;
        width: 100%;
      }
      h2, h3, h4 {
        padding: 0;
      }
      h2 {
        font-size: 3.5rem;
      }
      h3 {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1rem;
      }
    }
  }
}
